[2019-03-06 16:34] ggallen opened #114 "waitForCIMessage does not work correctly with message checks."
The waitForCIMessage does not work correctly with message checks. The message checks aren't even used in that method.

That method also needs to loop so that when the message checks are run and they fail, another receive is done. The code needs to wait until it receives a message that matches the selector (if supplied) and also the message checks (again, if supplied).

Both the AMQ and FedMsg mess

[2019-03-06 18:42] ggallen commented on #114
FYI, FedMsg actually does this correctly!  I am not sure why AMQ wasn't done the same way.  It must have gotten broken at some point.

[2019-03-11 21:14] wcheang opened #116 "sendCIMessage gets stuck running when given nonexistent provider"
Hi,

I was using sendCIMessage in the Jenkins pipeline script, and made a mistake on the providerName. The job got stuck running at the send message step until I killed it, and it wasn't clear to me why it was doing that since there were no errors. The plugin should fail gracefully and with an error message that indicates wrong/nonexistent provider.

Thanks,
Wai

[2019-03-12 00:17] wcheang commented on #116
Just to give a bit more details, this is what the part of the pipeline script looks like when I send the message:
            post {
                always {
                    sendCIMessage \
                      messageType: "Custom", \
                      messageProperties: "service=ServiceName", \
                      providerName: 'Some Provider', \
                      messageContent:

[2019-03-14 12:46] ggallen commented on #114
This is fixed.

[2019-03-14 12:46] #114 closed

[2019-03-18 14:07] ggallen commented on #116
@wcheang , I have a fix for the bad provider name.  An exception will be raised so you'll be notified that there is a problem.

However, I am unable to reproduce the problem with the message content variable not being set.  That does not hang for me, and a message gets sent. Are you sure when you ran into this problem that you had a valid provider name specified?

[2019-03-18 17:43] wcheang commented on #116
Awesome, thanks for the fix @ggallen! Yeah I can't reproduce the invalid messageContent problem anymore, maybe I did have the wrong provider and mistook it as a different problem.

[2019-03-19 20:40] wcheang opened #118 ""CI event" build trigger keeps creating threads on Jenkins when given invalid client name"
Hi,

When given an invalid AMQ consumer name, e.g. Consumer.client-name.service.dev.VirtualTopic.eng.something.>, the jenkins job doesn't get triggered, but keeps creating threads non-stop. The thread number grows quickly and eventually eats up all the CPU on Jenkins. Disabling the job does not help eliminate the threads; we had to manually delete the threads on our jenkins monitoring, and actuall

[2019-03-19 20:47] ggallen commented on #118
Wai, I haven't seen this behavior. Can you point me to the Jenkins master and the job so I can take a look?

[2019-03-20 12:56] sochotnicky commented on #118
I actaully haven't seen that behaviour and I *think* I was noticing what Wai reported here. What I actually saw was that when invalid consumer is defined (for example queue where the client has no permissions to read) - it will result in a Thread that seems to spin on a few points eating a lot of CPU. When that consumer queue is fixed - the old Thread is not cleaned up however it seems. The only w

[2019-03-20 14:28] ggallen commented on #118
@sochotnicky , that's the behavior I have seen as well. If the connection fails, it will keep trying to connect every minute.  This is in fact desired behavior as if connectivity is lost for some reason we want it to reconnect when things are fixed.

We could handle the invalid consumer case and just stop the thread since that will *never* connect without a configuration change.  But how would the

[2019-03-20 14:36] sochotnicky commented on #118
I want to be clear though - there *is* something wrong. The listener threads with wrong queues don't  sit idly for 1 minute. They spin on CPU full-tilt. And they don't get cleaned up when config changes.

[2019-03-20 14:39] sochotnicky commented on #118
@ggallen I can prep an example and we can test on our stage Jenkins instance (mostly any time). Will contact separately

[2019-03-20 15:46] wcheang commented on #118
I mixed up the high CPU time on the monitoring page with high thread count. Sorry about the confusion. But like Stano said there is definitely something wrong here since the client is eating up all the CPU.

[2019-03-20 17:22] ggallen commented on #118
OK, I have reproduced this and I see the problem. Now to figure out how to fix it....

I will keep you posted.

[2019-03-25 17:27] #116 closed

[2019-04-03 15:59] ggallen commented on #118
@wcheang , this is fixed in #119 .  Would you be willing to test it out?

[2019-04-03 17:12] wcheang commented on #118
Awesome, thanks a lot @ggallen! If there's an update yeah I can pull it in our jenkins and test it out.

[2019-04-04 15:37] #118 closed

[2019-04-04 15:39] ggallen opened #121 "Give users some sort of notification when a trigger has a fatal error."
If a user enters a JMS selector that is invalid, no notification is given to the user that anything is wrong. This also happens in the case of a permissions problem.

In this case the trigger will never function and the job will never run, and the trigger thread keeps retrying every minute. The only way for these two issues to be fixed is for a configuration change to be made.

[2019-04-24 15:09] Lorquas opened #123 "Configure job UI erases config values"
Description:
Every time you go to the Configure part of a job, all the configuration for jms-messaging things are blanked out.  If you click save, you erased your config.

Reproducibility: Always
Versions:
jms-messaging 1.1.6
tested on jenkins 2.150.2 and 2.121.3

Steps to reproduce:

1. Obtain a jenkins (I'm using FROM jenkins/jenkins:lts  in my Dockerfile)
1. Install jms-messaging:latest
1. Logi

[2019-05-18 16:34] ggallen commented on #121
Fix by https://github.com/jenkinsci/jms-messaging-plugin/pull/122.

[2019-05-18 16:34] #121 closed

[2019-05-29 12:51] johnbieren opened #125 "sendMessage always has timestamp: 0 on fedmsg"
Using jms-messaging-1.1.5 (but there are no changes to src/main/java/com/redhat/jenkins/plugins/ci/messaging/data/FedmsgMessage.java from 1.1.5 to 1.1.7), messages sent via fedmsg always have timestamp: 0 in their messages. It is a little hard to spot, since datagrepper will add its own timestamp. However, it seems just calling ```sendMessage``` prints back the message that is sent out, which incl

[2019-06-05 18:39] #125 closed

[2019-06-05 18:47] scoheb commented on #125
Released in v1.1.8

[2019-06-05 19:52] bstinsonmhk opened #132 "Support RabbitMQ as a Provider"
We currently use the JMS Messaging Plugin in Jenkins Pipelines with the Fedmsg Provider for the Fedora CI project (https://docs.fedoraproject.org/en-US/ci/)

We are planning on migrating our messaging system to RabbitMQ, and would like to continue using the JMS Messaging Plugin in the same workflow (same topics, same certificate-style authentication, etc.)

This ticket is to track the progress on:

[2019-06-07 13:13] ggallen opened #133 "Message properties should do variable substitution on entire set of properties, not by line."
Currently substitution in the message properties is done on a line-by-line basis.  So the plugin loops through the lines in the property text and performs substitution on each.

This doesn't work when the entire message properties field is ${MESSAGE_PROPERTIES}.

In this case, the user set a job parameter named MESSAGE_PROPERTIES to the list of properties to be used on that particular job run. And

[2019-06-07 13:15] scoheb commented on #132
Created initial skeleton here: https://github.com/jenkinsci/jms-messaging-plugin/tree/rabbitmq-skeleton

[2019-06-25 15:45] mherbert25 opened #134 "Boolean parameters are not propogated to pipeline DSL when job is triggered by a message"
I recently upgraded plugins on my Jenkins master:

After the upgrade, my pipeline job started failing with the following exception:
[code]
NOTE: WorkflowScript line 70 is the first time I try to access $dryrun in the shell script within the DSL.

The missing parameter 'dryrun' is a boolean parameter that is defaulted to 'false'. It turns out the failure **only** happens when the job is triggered b

[2019-06-26 12:25] scoheb commented on #134
Thanks for reporting. I am investigating...

[2019-06-26 17:17] scoheb commented on #134
@mherbert25  snapshot version available here with fix: https://ci.jenkins.io/job/Plugins/job/jms-messaging-plugin/job/PR-135/2/artifact/target/jms-messaging.hpi

[2019-07-02 19:54] ggallen commented on #133
Fixed by https://github.com/jenkinsci/jms-messaging-plugin/pull/136.

[2019-07-02 19:54] #133 closed

[2019-07-11 19:51] Lorquas opened #137 "CI Triggered jobs blank out parameters"
I'm seeing an issue similar to https://github.com/jenkinsci/jms-messaging-plugin/issues/134 except for `stringParam` and `textParam` (and possibly other param types?).

using a freestyle job with DSL like:
[code]
with an additional ciBuildTrigger added.   Whenever this job is triggered by the CI message, all params are blanked out (defaults ignored) with the exception of the `CI_MESSAGE` parameter

[2019-07-11 21:16] scoheb commented on #137
so the problem is that the defaults are simply ignored if not specified WHEN the job is triggered by the plugin?

[2019-07-12 14:24] Lorquas commented on #137
@scoheb correct.  If the above job were triggered by the plugin you'd simply see "hello "  in the console output instead of "hello world"

[2019-07-13 20:49] #134 closed

[2019-07-14 14:33] scoheb commented on #137
@Lorquas I have a snapshot version you can try that has a fix: https://ci.jenkins.io/job/Plugins/job/jms-messaging-plugin/job/PR-138/2/artifact/target/jms-messaging.hpi

If you can, please give it a try.

[2019-07-15 17:08] Lorquas commented on #137
@scoheb tested this this morning and it all seemed to work for text/strings/bools. Thanks!

[2019-07-16 12:58] #123 closed

[2019-07-16 12:59] Lorquas commented on #123
Cant repro this after updating jms-messaging

[2019-07-16 13:09] #137 closed

[2019-08-14 12:31] Zlopez commented on #132
@scoheb
I started working on the simple client implementation and I have a question:

How the `com.redhat.jenkins.plugins.ci.messaging.RabbitMQMessagingWorker.subscribe` should work? I looked at the FedMsg and ActiveMQ implementation and I don't see any callback that will trigger job when something is received.
Without comments or documentation it's hard to understand how this method works, could

[2019-08-14 14:02] scoheb commented on #132
```CITriggerThread.java``` calls ```messagingWorker.receive(jobname, providerData);```
```receive()``` then calls ```JMSMessagingWorker.receive()``` which your initial ```subscribe``` would have setup.

FYI @ggallen

[2019-08-14 18:09] Zlopez commented on #132
Thanks for explanation, now I know that I need to override `receive`. :-)

My first understanding was that subscribe is listening to any new message and some callback is called when the message is received.

[2019-08-25 10:19] lioramilbaum opened #139 "sendCIMessage used on node which is not master"
Is it possible to use the sendCIMessage method in a node which is not master?
If it does, are there any system requirements?

[2019-08-25 14:16] scoheb commented on #139
It is possible. There should be no additional requirements. Are you seeing an issue?

[2019-08-25 14:58] lioramilbaum commented on #139
Thanks for the info. I wasn't sure if it would work or not.

[2019-08-26 09:40] #139 closed

[2019-08-26 13:33] ggallen opened #140 "MS Messaging plugin for Jenkins does not use default parameters of job."
It seems like trigger sendCIMessage is not able to use default job parameters, when this job is triggered via such message. I can only see in build parameters CI_MESSAGE & MESSAGE_HEADERS.

If I just build job manually, all default values are used properly (empty CI_MESSAGE) as expected.

Please see attached pictures.

Code can be found here:

https://bitbucket.org/msgqe/msg-qe-ci-jobs-broker/src/

[2019-09-09 10:07] vmuzikar opened #141 "Boolean parameters are not set by JMS properties"
**Environment:**
* A Jenkins Job *A* that has a boolean parameter and is configured to be triggered by a CI message.
* A Jenkins Job *B* (which is actually a pipeline) that sends CI messages.
* JMS Messaging plugin version: 1.1.9
* Jenkins version: 2.121.3

When we send a message from *B* that contains a boolean property, job *A* is triggered but its boolean parameter is not set by the boolean pro

[2019-09-10 18:29] scoheb commented on #141
So your CI_MESSAGE parameter is a `boolean` ?

can you share the config.xml files from JobA and JobB?

@ggallen FYI

[2019-09-11 07:44] vmuzikar commented on #141
@scoheb We don't use CI_MESSAGE parameter. We're using the CI Message Properties which are "mapped" to job parameters. We were able to reproduce it with as simple jobs as possible.

Job *A* definition: https://gist.github.com/vmuzikar/da74799cacc166cf13e9fd100fb09815

Job *B* is a pipeline which basically just calls something like this:
[code]

`STR_PARAM` in *A* is then set to "kocka pes" whereas

[2019-09-15 11:19] lioramilbaum opened #142 "timeout property - Which values are valid?"
Is it of type number?
Does it have a default?
Can I set it to null, like in the code sample? If yes, what does it mean?

[2019-09-18 14:08] ggallen commented on #142
It's an integer with a default value of 60.  Setting it to null might result in 60 but I'm not sure. I'd recommend setting it to a value instead.  I'll update the example.

[2019-09-18 14:08] #142 closed

[2019-09-20 16:03] ggallen opened #146 "Configuration not loaded for CI Notifier build step and post-build action."
The configuration is not being loaded correctly for either the CI Notifier build stop nor the post build action.

To reproduce, just add one of each to a job, hit apply, then refresh. The changes disappear, but they are still in the config.xml.

[2019-10-17 21:39] mikebonnet opened #149 "Build trigger does not support Declarative syntax"
`CIBuildTrigger` only supports use via `pipelineTriggers()` in Scripted pipeline, not the `triggers{}` section of Declarative pipeline. This requires us to maintain pipelines in both formats, depending on how they're triggered. It would be great if `CIBuildTrigger` supported Declarative pipelines.

[2019-11-06 19:40] #141 closed

[2019-11-06 20:08] scoheb commented on #140
This should be fixed as of version 1.1.10.

[2019-11-06 20:08] #140 closed

[2019-11-07 14:25] scoheb commented on #149
Seems the snippet generator may be broken, it displays:

`no public field ‘providerList’ (or getter method) found in class com.redhat.jenkins.plugins.ci.CIBuildTrigger`

[2019-11-08 19:09] scoheb commented on #149
The declarative snippet generator is broken for the plugin with triggers. But this works:
[code]

[2019-12-06 12:36] Michkov commented on #149
Does not work for me:
[code]
In log:
[code]

[2019-12-06 14:57] scoheb commented on #149
Here is an example of what is known to work:

[code]
Unfortunately the Pipeline or Job DSL Snippet Generator does not produce this currently.

[2019-12-09 10:52] Michkov commented on #149
My example works after job is executed manually, that's known limitation https://issues.jenkins-ci.org/browse/JENKINS-47539

[2019-12-11 09:17] Zlopez commented on #146
I can confirm this issue and it is happening only for publishers.

I even noticed the same issue in RabbitMQ pull request #154

[2020-02-07 15:05] bgoncalv opened #165 "FedoraMessaging - CI_MESSAGE contains too much information"
When triggering using FedoraMessage the CI_MESSAGE contains information that I think shouldn't be part of CI_MESSAGE, at least it was not part of CI_MESSAGE when using FedMsg.

Example:

### Fedora Message
    {"deliveryTag":17,"msg":{"agent":"bodhi","artifact":{"builds":[{"component":"nano","id":1457844,"issuer":"kdudka","nvr":"nano-4.8-1.fc32","scratch":false,"task_id":41422439,"type":"koji-buil

[2020-02-07 21:25] jimbair opened #166 "fedmsg - timestamp format incorrect"
Hi,

As part of our effort to migrate Fedora CI from fedmsg to FedoraMessaging, we updated our plugin to a newer version to support both fedmsg and FedoraMessaging. However, when we upgraded, the messages we saw were from the year 51850:

https://pagure.io/fedora-infrastructure/issue/8389

If I had to guess, it was the result of this change:

https://github.com/jenkinsci/jms-messaging-plugin/pull/

[2020-02-10 13:37] bgoncalv opened #167 "Can't save trigger configuration after configuring Jenkinsfile to trigger using FedoraMessaging (RabbitMQSubscriberProviderData)"
Create a Jenkins pipeline job with Jenkinsfile as below:

    #!groovy
    properties(
        [
            pipelineTriggers(
                [[$class: 'CIBuildTrigger',
                    noSquash: true,
                    providerData: [
                        $class: 'RabbitMQSubscriberProviderData',
                        name: 'FedoraMessagingStage',
                        overrides: [

[2020-02-10 13:37] bgoncalv commented on #167
Full trace:

    A problem occurred while processing the request. Please check our bug tracker to see if a similar problem has already been reported. If it is already reported, please vote and put a comment on it to let us gauge the impact of the problem. If you think this is a new issue, please file a new issue. When you file an issue, make sure to add the entire stack trace, along with the versi

[2020-02-10 13:45] Zlopez commented on #132
The https://github.com/jenkinsci/jms-messaging-plugin/pull/154 is already merged, this issue could be closed

[2020-02-10 15:05] scoheb commented on #167
FYI @Zlopez

[2020-02-10 15:05] scoheb commented on #166
FYI @Zlopez

[2020-02-10 15:05] scoheb commented on #165
FYI @Zlopez

[2020-02-11 08:16] Zlopez commented on #167
@scoheb I tried to debug this yesterday with @bgoncalv and I'm not sure how the Jenkinsfile is actually processed by the jms-messaging-plugin. It probably doesn't call the same methods as web interface, because when configuring this in web interface directly it works.

[2020-02-11 08:47] Zlopez commented on #165
@bgoncalv Yes, the Fedora Messaging `msg` is the actual content of FedMsg message. So this is correct and intended behavior.

[2020-02-11 08:50] Zlopez commented on #166
@jimbair Just to make it clear, you have the incorrect timestamp in Fedora Messaging message?

[2020-02-11 08:57] bgoncalv commented on #165
@Zlopez okay, thanks. If this behaviour is expected than this issue can be closed. We are going to need to change our code to parse the CI_MESSAGE differently and triggering on FedoraMessaging won't be a simple change of messaging provider.

[2020-02-11 09:05] Zlopez commented on #165
In the Python implementation of Fedora messaging, there is a library that helps you with the parsing, but for the Java there isn't anything like this.

[2020-02-11 09:28] bgoncalv commented on #166
No, the problem is the timestamp only when publishing to FedMsg.

[2020-02-11 12:32] bgoncalv commented on #165
@johnbieren jfy, note that some of the pipelines use CI_MESSAGE as parameter to some functions like https://github.com/openshift/contra-lib/blob/master/vars/kojiMessage.groovy so any pipeline that uses this will have to be fixed when changing the trigger from FedMSg to FedoraMessaging.

[2020-02-11 13:16] Zlopez commented on #165
I noticed some difference between FedMsg implementation and RabbitMQ implementation. #168 should fix this.

[2020-02-11 13:24] Zlopez commented on #166
I noticed the timestamp is set the same for Fedora Messaging, so I added the fix for this.

[2020-02-18 13:31] Avielyo10 opened #170 "When Jenkins is restarted, customized JMS configuration is silently reverted to same (default?) values"

[2020-02-19 13:36] #165 closed

[2020-02-19 13:38] #166 closed

[2020-03-12 16:40] scoheb opened #178 "Using CI trigger on parametrized builds strip all non text parameters"
When using CI trigger on Jenkins parametrized build strips all non text parameters like selectboxes.
We use selectbox fields with options provided, so the first option is used as a default.

[2020-03-12 16:47] scoheb commented on #178
Are you expecting to see the Select/Choice parameter to be set via the incoming message?
Or are you just wanting to ensure that the default Select/Choice parameters are set to their default values?

[2020-03-12 18:39] cardil commented on #178
I want to ensure that the defaults are used, for now.

[2020-03-12 18:42] cardil commented on #178
It also relates to `boolean` params. The default value for a field should be used.

[2020-03-12 19:25] scoheb commented on #178
So #179 will ensure defaults are chosen for `choice` params
The current version already handles `boolean` params.
Are you also seeing an issue with `boolean`?

[2020-03-12 20:51] scoheb commented on #178
@cardil Snapshot binary available for testing here: https://ci.jenkins.io/job/Plugins/job/jms-messaging-plugin/job/PR-179/3/artifact/plugin/target/jms-messaging.hpi

[2020-03-12 20:57] #178 closed

[2020-03-13 11:01] cardil commented on #178
I didn't see it for booleans. Just presumed it must be similar

[2020-03-23 21:37] ktdreyer opened #184 "job configuration UI does not display saved settings"
When I add or edit a "CI Notifier" publisher for a job, the web UI does not display the settings I've saved. This happens when I edit the job by hand with the web form and when I use Jenkins Job Builder.

**Versions:**
RHEL 7.6
Jenkins ver. 2.150.2
JMS Messaging Plugin 1.1.14

**Steps to reproduce:**
1) Create a new freestyle job.
2) At the bottom of the job, add a new "Post-build Actions" step. S

[2020-03-23 21:48] ktdreyer commented on #184
I've upgraded through several LTS Jenkins versions to see if that helps. I confirmed this bug is present with each of the following:

Jenkins ver. 2.150.2
Jenkins ver. 2.150.3
Jenkins ver. 2.164.3
Jenkins ver. 2.176.4
Jenkins ver. 2.204.5

[2020-03-27 01:49] scoheb commented on #184
Hi,
This looks like a duplicate of #146
I will try to look into these issues shortly with @ggallen

[2020-03-30 13:30] itzikb opened #185 "A job is triggered when it shouldn't when using RabbitMQ"
I have two freestyle jobs: One that I configure with CI notifier and the other one which I have a build trigger.
[job1 definition](https://github.com/jenkinsci/jms-messaging-plugin/files/4403077/job1.txt)
[job2 definition](https://github.com/jenkinsci/jms-messaging-plugin/files/4403079/job2.txt)

The second job is triggered even though it shouldn't (If I understand correctly) because it expected t

[2020-03-30 13:31] scoheb commented on #185
@Zlopez Can you please take a look at this one?

[2020-03-30 13:48] Zlopez commented on #185
@itzikb Do you have the logs of job2, there should be the exact message you get on INFO log level.

[2020-03-30 17:55] itzikb commented on #185
@Zlopez I'm having a different problem now when trying to reproduce. The IP of the RabbitMQ server changed. I Changed it in JMS Messaging Providers but In the log I see that the old IP is used (Even though the new one is saved).

[2020-03-30 18:03] itzikb commented on #185
Restarting Jenkins - the IP changed (Is it a known bug)?

Which Log are you referring to?

**Jenkins Log**
[code]

**Job2 console log**
[code]

[2020-03-31 08:50] Zlopez commented on #185
@itzikb The first log is what I needed to verify the received message.

@scoheb For check verification I'm using the same approach as in ActiveMQ, so this looks more like issue in the `ProviderData.verify` method. Isn't there something similar to like instead of exact match?

[2020-03-31 08:57] Zlopez commented on #185
@scoheb Looking at the code, this is the exact method that is called to verify the checks [`JMSMessagingProvider.verify`](https://github.com/jenkinsci/jms-messaging-plugin/blob/master/plugin/src/main/java/com/redhat/jenkins/plugins/ci/messaging/JMSMessagingProvider.java#L69)

[2020-04-03 08:39] bgoncalv commented on #167
Is there any update on this issue?

[2020-04-06 15:29] scoheb commented on #185
The current default behaviour is that we use the following in the `verify()` method:

`return Pattern.compile(expectedValue).matcher(actualValue).find();`

which returns *true* for:

`def expectedValue = "boo"`
`def actualValue = "boo1"`

If you want an exact match, then you need to use a regexp

`expectedValue = "^boo$"`

[2020-04-07 19:47] jimbair commented on #167
I talked with @scoheb this morning and he was sadly tied up in another bugfix. Scott let me know that he would reach out to Greg Allen to take a look for us; I'll post any updates here if I have them by end-of-day.

[2020-04-07 20:03] ggallen commented on #167
@jimbair , I am going to try to look at this ASAP.

[2020-04-08 15:19] #170 closed

[2020-04-08 15:19] #185 closed

[2020-04-08 15:20] scoheb commented on #146
This will be fixed by #187

[2020-04-08 18:47] jimbair commented on #167
@ggallen thank you! If we can help out at all, please don't hesitate to reach out and let us know.

[2020-04-09 13:57] #184 closed

[2020-04-09 13:57] #146 closed

[2020-04-09 15:29] scoheb commented on #146
Fix released in version 1.1.16

[2020-04-09 15:29] scoheb commented on #184
Fix released in version 1.1.16

[2020-04-09 21:23] ggallen commented on #167
@bgoncalv , I created a pipeline job (from script) and copied in your Jenkinsfile. When I try to run it I get this:

[code]
What am I doing wrong?

[2020-04-09 21:32] ggallen commented on #167
@bgoncalv and @jimbair , I think the problem may be that the syntax you are using isn't up-to-date. There were chanages made several releases ago to support mulitple provideres.

Here's a known-to-work syntax in declarative pipeline:
[code]
I think you need to do something similar with `providers` and `providerDataEnvelope`.

[2020-04-14 14:35] bgoncalv commented on #167
@ggallen thanks, does it mean we have to use declarative pipeline now?

I tried to create a new job based on your example, but it didn't work...

    triggers {
      ciBuildTrigger {
        providers {
          providerDataEnvelope {
            providerData {
              rabbitMQSubscriber {
                name("FedoraMessagingStage")
                overrides {
                  topic("org

[2020-04-14 22:29] ktdreyer commented on #184
Thank you! This will help our users who are learning this plugin.

[2020-04-16 06:12] Michkov opened #190 "Selectors disappeared from UI after update to 1.1.16"
Selectors for ActiveMQ and Message Checks for Fedmsg disappeared from UI after saving configuration.
Also Topic override is changed on every configuration change.

Steps to reproduce:
1) create new Freestyle project (or any project type)
2) Enable CI event
3) Select Active MQ based provider
4) Override provider -> select your own
5) Set JMS selector
6) Click on Save
7) Click on Configure

Current

[2020-04-16 14:37] jimbair commented on #167
@ggallen would it help if we setup a time to sync up over IRC (or something else) to work through the config?

[2020-04-16 15:57] ggallen commented on #167
@jimbair and @bgoncalv , could you give me the information so I can set up a provider correctly for the test?

[2020-04-17 14:02] jimbair commented on #167
@ggallen thank you so much for your help! I reached out to Bruno this morning, and while trying to test it some more from our side.....the problem just disappeared? We know the openshift project was relocated/rebooted/moved 3-4 weeks back, so we're not sure if that's what "fixed" it or if something else was updated without us knowing about it?

Either way, for now, we are good - sorry for the run

[2020-04-17 14:08] #167 closed

[2020-04-19 20:35] #190 closed

[2020-04-19 20:37] scoheb commented on #190
Fixed in release 1.1.17.

Thanks for reporting!

[2020-04-27 16:51] ktdreyer commented on #184
I've confirmed that the "CI Notifier" data looks correct in the web UI now with 1.1.16. Thanks.

[2020-04-27 20:20] scoheb commented on #184
@ktdreyer please note that using v1.1.18 is **highly** recommended!

[2020-06-22 12:30] bhavikbhavsar opened #199 "Need help with using jobdsl method of the plugin."
It fails with below error
[code]

I tried using the snippet shared in the readme.
[code]

[2020-06-22 13:19] scoheb commented on #199
Can you share your entire job-dsl script and let me know which version you are using please?

[2020-06-22 13:38] bhavikbhavsar commented on #199
I am not sure about the syntax.

below is the pipeline syntax I am trying to convert to jobdsl.

[code]

[2020-06-22 13:41] bhavikbhavsar commented on #199
JOb DSL version is 1.7.6

[2020-06-22 13:52] scoheb commented on #199
I meant jms-messaging version.

but where is the snippet where you use `ciBuildTrigger()`?

[2020-06-22 14:05] bhavikbhavsar commented on #199
jms-messaging version is 1.1.2

I am using the process job dsl section in the freestyle job to create the working listener first.
![image](https://user-images.githubusercontent.com/4545441/85296771-8321b900-b4bf-11ea-8b18-8b6b015e0d02.png)

[code]

[2020-06-23 11:33] bhavikbhavsar commented on #199
@scoheb any clue, if I am doing something wrongly?

[2020-06-24 08:31] bhavikbhavsar commented on #199
Thanks @scoheb I have updated the plugin to latest version now.
![image](https://user-images.githubusercontent.com/4545441/85522269-090a4500-b623-11ea-9c6f-eff4ee92223b.png)

And my dsl looks something like below:
[code]

I still see the same error:
[code]

[2020-06-24 12:58] scoheb commented on #199
Please see https://jenkinsci.github.io/job-dsl-plugin/#path/job-triggers
you are missing the triggers() section

[2020-06-24 14:31] bhavikbhavsar commented on #199
Great! it worked. Thanks @scoheb for the help

[2020-06-24 14:34] #199 closed

[2020-07-21 07:07] Michkov opened #200 "RabbitMQ is not creating queues"
I want to use fedora-messaging for triggering my jobs. I am getting error:
[code]
Configuration:
Connection Properties:

- Name: fedora-messaging
- Hostname: rabbitmq.fedoraproject.org
- Port Number: 5671
- Virtual Host: /public_pubsub
- Topic:
- Exchange: amq.topic
- Queue:
- Authentication Method: SSL Certificate Authentication
  - User name:
  - Key store: /var/lib/jenkins/fedora-messaging/keys

[2020-07-22 08:16] Zlopez commented on #200
I think we already had similar issue in the Fedora infra, the rabbitmq in fedoraproject.org doesn't allow automatic creation of queues AFAIK.

So you need to have it created in advance.

[2020-07-22 09:16] Michkov commented on #200
Fedora is allowing to create it but it has to be in uuid format. When I am using 'fedora-messaging' command it's using the same certificate and queue is created - https://fedora-messaging.readthedocs.io/en/latest/quick-start.html#fedora-s-public-broker

[2020-07-24 08:38] msrb opened #202 "[RabbitMQ] Messages are sometimes not getting ACKed"
It looks like messages are sometimes not getting acked when using RabbitMQ provider. There are suspicious error messages in Jenkins log:

[code]

This happens on 2 different Jenkins instances. The first is running in CentOS infrastructure, on OpenShift, and the second is deployed on AWS EKS.

Note Jenkins seems to be triggering builds on messages just fine. The problem is that messages that don't

[2020-07-30 07:36] pypingou commented on #202
Considering https://www.mariuszwojcik.com/how-to-choose-prefetch-count-value-for-rabbitmq/ , https://github.com/fedora-infra/fedora-messaging/pull/224 and the fact that the ``prefetch`` value is set to 0, I know wonder if the issue we've seen in the ticket above could not be linked to that configuration. Maybe setting the prefetch value to something other than ``0`` would mitigate this

[2020-08-04 15:28] jeremycline commented on #202
I don't see how they are related. The error is pretty clear, the channel is closed because the delivery tag (147816) is unknown. Delivery tags are how acks/nacks identify the message they are acking/nacking, are server-assigned, and are [scoped to a channel](https://www.rabbitmq.com/amqp-0-9-1-reference.html#domain.delivery-tag). This, at first glance, looks to be a client bug. For example, if it'

[2020-09-08 15:41] #200 closed

[2020-09-09 08:00] vojtechsokol opened #206 "fedmsg - some messages are not registered by the plugin"
Hi,

our team uses JMS plugin to consume fedmsg messages with `org.fedoraproject.prod.github.*` topics (forwarded to fedmsg by [github2fedmsg app](https://apps.fedoraproject.org/github2fedmsg)).

Everything works fine, but after a while no jobs are triggered by the plugin. One hour after the last message was received, the plugin resubscribes the job to the topic and it works again for a while.

Wh

[2020-09-09 12:10] ggallen commented on #206
@vojtechsokol , this is normal behavior for the plugin.

Can I get access to the Jenkins instance to take a look?

[2020-09-09 12:35] vojtechsokol commented on #206
Thank you for quick reply @ggallen
By 'normal behavior' you mean that it's expected to miss some messages?
The jenkins instance with affected job is [here](https://url.corp.redhat.com/541e6c5), you should be able to login there using your kerberos ticket.

[2020-09-09 13:15] ggallen commented on #206
@vojtechsokol , no it shouldn't miss messages. I mean that resubscribing after 1 hour of no messages is normal, and those are the messages you are seeing in the log. That behavior and those messages are expected.

Let me take a look.

[2020-09-09 13:22] ggallen commented on #206
@vojtechsokol , can you give me an example of a message that was handled and one that was missed?  I don't see anything obvious yet.

[2020-09-09 21:56] vojtechsokol commented on #206
@ggallen I've created short script that dumps builds of the Jenkins job and messages from datagrepper: https://gist.github.com/vojtechsokol/e427c65d541ac294d3170df7a133ac9c. When you compare the resulting files (`builds-pull-only.txt` and `messages.txt`), you can see that there are a lot of builds missing (ATM more than 50%), the job was not triggered for e.g. these pull requests (lines are in the

[2020-09-09 22:36] ggallen commented on #206
@vojtechsokol , information overload!

All I want it a job, a message that triggered, and a message that didn't.  I don't see how to find the actual messages in all the data the script produces.

[2020-09-10 15:11] vojtechsokol commented on #206
@ggallen
examples of correctly triggered builds and corresponding messages:
message: https://apps.fedoraproject.org/datagrepper/id?id=2020-7a1b1511-ed51-4657-93be-b2dc86cc25e0&size=extra-large
Jenkins job build: <JENKINS_URL>/job/ci-dispatch-github_pull_request_opened/2186

examples of messages that didn't trigger build
message: https://apps.fedoraproject.org/datagrepper/id?id=2020-036dd572-b42f-4

[2020-09-10 15:56] ggallen commented on #206
@vojtechsokol , I just checked your jms-messaging-plugin version and you are running 1.9. The current version is 1.1.18. Could you please update to that version and see if things improve?  1.9 was released over a year ago, and there have been a lot of changes since then.

[2020-09-11 20:10] vojtechsokol commented on #206
@ggallen After updating the plugin to 1.1.18 it still misses some messages.
builds and triggering messages:
https://apps.fedoraproject.org/datagrepper/id?id=2020-b2db8982-2c47-4dfb-8f2f-8c0ea21b4a13&size=extra-large
<JENKINS_URL>/job/ci-dispatch-github_pull_request_opened/2217

https://apps.fedoraproject.org/datagrepper/id?id=2020-b1d06e1e-1984-4962-b3e7-0a739b3c72ee&size=extra-large
<JENKINS_URL>

[2020-09-25 11:21] thrix commented on #206
@ggallen should we provide more information here pls? This is becoming a blocker for migrating to these new jobs which use github -> fedsmg as triggers ...

[2020-09-25 13:39] ggallen commented on #206
There's nothing obvious I can see here. This is going to require some more in-depth investigation.

Can you establish any sort of a pattern for when messages are missed vs. when they are received?

@scoheb , any thoughts?

[2020-09-28 14:43] scoheb commented on #206
@vojtechsokol contact me offline to discuss.

[2020-09-28 14:51] scoheb commented on #206
actually can you please check the status of the webhook deliveries at https://github.com/ceph/ceph/settings/hooks for https://apps.fedoraproject.org/github2fedmsg/webhook ?

It is possible there may be some 404 errors.

There might be some continual data centre migration happening.

[2020-09-28 15:33] scoheb commented on #206
It does seem that there may be an issue with your missed messages script. I found that build 2520, 2519, 2518 were all triggered but do not show up as matched in output.

[2020-09-29 21:42] scoheb opened #208 "Request for setup params for Fedora Infra"
Would you have the setup parameters needed to be able to use the rabbitMQ provider for the fedora infra?

@Zlopez

[2020-09-30 08:14] Zlopez commented on #208
@scoheb I wasn't the one who did the actual deployment, but I contacted someone from CentOS CI team and he promised to reply in a few days.

[2020-10-01 13:21] scoheb commented on #206
@vojtechsokol @thrix @ggallen

Please see https://pagure.io/fedora-infrastructure/issue/9363

[2020-10-02 18:02] #208 closed

[2020-10-02 18:05] scoheb commented on #206
@vojtechsokol @thrix

The problem was traced to some proxies behind the fedora hub that were not working correctly. This caused the issues you were seeing since it all depended on which of the 10 proxies you connected to in Jenkins when the job subscribed to a topic. Only 2 of the 10 had been working correctly.

This has since been fixed on the fedora infra side. All proxies are working well now.

[2020-10-02 18:05] #206 closed

[2020-10-05 07:17] thrix commented on #206
@scoheb thanks a lot for hunting this down!

[2020-10-05 07:51] vojtechsokol commented on #206
@scoheb \o/ Thanks for helping to fix that!

[2020-11-06 05:50] Tosken1337 opened #209 "Support for Artemis ActiveMQ"
Hi,

does the plugin support an Artemis ActiveMQ instance?
When i try ActiveMQ as provider the test connection results in a

"Cannot send, channel has already failed" error.

Any idea what could be the issue here?

Thanks
Sebastian

[2020-12-04 13:59] jsztuka opened #211 "Need more explicit error message in case of non-existent provider"
Hi,
I've recently run into issue during JobDSL smoke tests.
The error message was following:

[code]
I was using rabbitMQSubscriber in my job specification groovy file.
This error ment that I was just referencing to provider which was absent in my jenkins global configuration.
I propose changing this error msg to something more explicit so user realises he/she referred to a non-existent provider.

[2021-01-11 17:06] jsztuka opened #213 "RabbitMQMessagingWorker can't subscribe to jenkins job"
`2021-01-11 10:57:32.588+0000 [id=124198]	INFO	c.r.j.p.c.m.RabbitMQMessagingWorker#subscribe: Subscribing job 'cvp-co-metadata-trigger' to org.fedoraproject.prod.github.issue.comment topic.
2021-01-11 10:57:32.589+0000 [id=124198]	SEVERE	c.r.j.p.c.m.RabbitMQMessagingWorker#subscribe: Eexception raised while subscribing job 'cvp-co-metadata-trigger', retrying in 1 minutes.
java.lang.NullPointerExce

[2021-01-11 17:07] jsztuka commented on #213
The possible solution is created here:
https://github.com/jenkinsci/jms-messaging-plugin/pull/212

[2021-03-08 15:44] phracek opened #215 "two jobs are trigger if one fedmsg comment is entered"
### Version report

Jenkins and plugins versions report:
Jenkins version `2-190-3` and `jms-messaging` plugin in version 1.1.19

- What Operating System are you using (both controller, and any agents involved in the problem)?
I am using Jenkins as CSB. All is configured via casc.yaml file.

JMS definition in casc.yaml is:
[code]
Alone job definition is:
https://github.com/sclorg/rhscl-container-ci

[2021-05-24 08:56] phracek commented on #215
The issue is still valid for Jenkins 2-277-2.

[2021-07-09 14:41] Andrei-Stepanov opened #218 "messageId property has malformed format"
Hello,

The bug is in RabbitMQ part of this plugin.
Messages sent with jms-messaging-plugin to RabbitMQ fedora broker have incorrect `messageId` property.
Property `messageId` has prefix : year-UUID.
This is bug.

From : https://fedora-messaging.readthedocs.io/en/stable/wire-format.html#message-id

[code]

https://github.com/jenkinsci/jms-messaging-plugin/blob/master/plugin/src/main/java/com/redha

[2021-07-12 05:59] olivergondza commented on #218
No idea why it is being done this way: https://github.com/jenkinsci/jms-messaging-plugin/pull/154/files#diff-55442404b12c5e36812d6d2244165fb065f02677aa22a00fc7df400e4b4011b2R98

@Zlopez, what is the motivation to prefix the auto-generated IDs? Thanks!

[2021-07-12 07:48] Zlopez commented on #218
@olivergondza If you look at [message in datagrepper](https://datagrepper-monitor-dashboard.app.os.fedoraproject.org/id?id=2021-1eda6f88-7381-4f30-9be3-3e3d96a739a3&is_raw=true&size=extra-large) you can see that message id is prefixed by year, not sure why, but I try to mimic the fedora messaging publisher behavior as best as I can. It's possible that the year is added by rabbitmq server latter an

[2021-07-14 06:25] #218 closed

[2021-07-14 13:38] tlbueno opened #220 "Boolean defaults is not respected when a job is triggered by a message"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- Step 1 - Start you jenkins instance
- Step 2 - Download the attached file:
[myjob.xml.gz](https://github.com/jenkinsci/jms-messaging-plugin/files/6816442/myjob.xml.gz)
- Step 3 - Unpack the attached fil

[2021-08-23 20:06] bstinsonmhk commented on #132
This can indeed be closed!

[2021-08-23 20:06] #132 closed

[2021-08-23 20:13] jimbair opened #224 "Limit the maximum number of concurrent messages consumed from a queue"
### Feature Request

We have run into an issue with mass rebuilds on the CI side where we will get thousands of messages across either Fedora or Red Hat message buses. I've looked into projects like https://github.com/jenkinsci/throttle-concurrent-builds-plugin to help limit it, but Jenkins itself gets very angry when it has hundreds, let alone thousands, of jobs queued up to run regardless if a r

[2021-10-18 13:02] lemeurherve opened #226 ""highmem" node type use to be revised"
How much memory is needed to build this plugin?

The "highmem" node type used [in the Jenkinsfile](https://github.com/jenkinsci/jms-messaging-plugin/blob/master/Jenkinsfile) seems oversized.

[2021-11-26 14:25] ukulekek opened #227 "Jobs not subscribing after unsubscribing from time to time"
Hello, our Jenkins jobs are being unsubscribed without subscribing back from time to time. I have found two different reasons for not subscribing back in logs. We are using the latest `1.1.24` version of the plugin.

1:
[code]
No messages from the job appeared after that. We resolved it by disabling and enabling the job back.

2:
[code]
Again, no messages appeared after that. With this one, even i

[2021-11-29 07:48] olivergondza commented on #227
@ukulekek, thanks for the report. Please attach full (or at least relevant part of the) `StackOverflowError` stacktrace - we need to know how did it manage to get into that infinite recursion.

[2021-11-29 09:49] ukulekek commented on #227
@olivergondza the full `StackOverflowError` consists of the same two lines repeating 1024 times, starting and ending with:
[code]

[2021-12-01 09:07] olivergondza commented on #227
Unfortunately, that does not help us much in finding out the cause of it. No idea why is the stacktrace shortened.

However, I found https://issues.jenkins.io/browse/JENKINS-65590 describing the same symptoms addressed by update in the API they use. It is something we eventually must do here as well, so it might be worth prioritizing it.

[2021-12-01 09:48] olivergondza commented on #227
Filing API update: https://github.com/jenkinsci/jms-messaging-plugin/pull/228

It is strange we did not see this on 2.289.2 or 3.303.3. Is there any particular way to reproduce this?

[2021-12-01 11:52] olivergondza commented on #226
Good point, removed in https://github.com/jenkinsci/jms-messaging-plugin/commit/b288322fbf1124a440aa4a886e94e409fbc9fe71

[2021-12-01 11:52] #226 closed

[2021-12-21 14:53] AsherShoshan opened #230 "waitForCIMessage docmentation"
Missing docs on what is the exact syntax of: timeout, variable, etc

[2021-12-21 15:01] AsherShoshan opened #231 "waitForCIMessage not waiting at all"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

rhel8.3
### Reproduction steps

- write a pipeline as such:
-   stages {
    stage('receive Message') {
      steps {
        script {
          def msgContent = waitForCIMessage \
                providerName: params.PROVIDERNAME, \

[2022-05-31 08:59] pholica opened #237 "Failover broker URL does not failover subscribed jobs when one of the brokers is no longer available"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>
Jenkins: 2.303.3
OS: Linux - redacted
---
(redacted other plugins due to security concerns)
jms-messaging:1.1.26
</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

RHEL-7

### Reproduction steps

1. Configure brokers using failover url like: failover:(ssl

[2022-07-27 18:07] thrix opened #244 "jms-messaging-plugin fails to resubscribe to a topic"
### Jenkins and plugins versions report

From time to time our Jenkins fails to resubscribe to our AMPQ queue (UMB). We added monitoring for the logs and need to disable/enable job to force resubscription.

Happens with 1.1.26 and 1.1.27 plugin versions.

[code]

### What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

Subs

[2022-07-27 18:08] thrix commented on #244
@olivergondza any ideas here? We see this randomly, but fairly often with our Jenkins instances

[2022-07-27 18:38] ggallen commented on #244
Did you get this reversed with "Expected Results"?

[2022-07-27 19:39] thrix commented on #244
@ggallen of course, fixed :)

[2022-08-01 07:26] guy9050 commented on #244
I encounter the same issue as well.

[2022-09-20 17:01] thrix commented on #244
@ggallen @olivergondza, do we need to provide further information here? This happens to us regularly.

[2022-10-05 14:11] ukulekek commented on #215
Hello, we are getting the same issue. @olivergondza could you look at that, please?
Here is jms plugin config:
[code]
And here is the job configuration:
[code]
Every message schedules two jobs with the same CI_MESSAGE, but json is in different order:
1:
[code]
2:
[code]
The original message: https://apps.fedoraproject.org/datagrepper/v2/id?id=2022-a667e1c6-f61f-4937-b35b-3751fedbef2d&is_raw=true&s

[2022-10-05 14:21] ggallen commented on #215
@ukulekek, what version of the jms-messaging-plugin are you using? And can you provide a link to your Jenkins instance?

[2022-10-05 14:31] ukulekek commented on #215
@ggallen we use 1.1.27. The Jenkins is in the redhat intranet: https://url.corp.redhat.com/ce4766e

[2022-10-12 07:46] michalxo opened #246 "Storing variable is never used, always ends up in default CI_MESSAGE"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

any agent
multiple listening ActiveMQSubscribers, each storing variable into different variable_name

### Reproduction steps

[code]

### Expected Results

Each relevant message from Topic should

[2022-11-03 09:06] sapomh opened #248 "Uncaught Exception when using CI Build Trigger"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Ubuntu 22.04.01 LTS

### Reproduction steps

1. Run the LTS Jenkins docker container
2. Install the JMS Plugin
3. Configure the CI Messages Plugin. It is successfully connected to the RabbitMQ no

[2022-11-15 21:26] thrix commented on #215
@ggallen @olivergondza would you have time to look at this sometime pls?